# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Listing populat languages for Data Science
* Listing commonly used libraries for Data Science
* Listing tools for Data Science
* Producing examples for simple Python use

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julya

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. ggplot
4. lattice

|Data Science Tools|
-------------------
|Jupyter Lab       |
|R Studio          |
|Apache Spark      |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [9]:
##This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
##This will convert 200 minutes to hours by dividing by 60
timeInMinutes = 200
timeInHours = round(timeInMinutes/60,2)
print(f'{timeInMinutes} minutes converts into {timeInHours} hours')

200 minutes converts into 3.33 hours

## Author
Caroline Thaon d'Arnoldi